{% extends "layout2.html" %}

{% block title %}
    Adopt Canines
{% endblock %}

{% block main %}


        <!--- Our available properties (welcome) -->
        <div class="container-fluid padding">
            <div class="row welcome text-center">
                <div id="properties" class="col-12">
                    <h1 class="display-4">Adopt a Dog</h1>
                </div>
                <hr>
            </div>
        </div>


        <!--- Cards -->
        <div class="container-fluid padding">
            <div class="row padding" id="smallPadding">

                <!--Pancho-->
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <img class="card-img-top" id="responsiveImage" src="https://i.postimg.cc/SKWt2320/0.png" alt="Fourth dog">
                        <div class="card-body">
                            <h4 class="card-title">Pancho</h4>
                            <h5 class="card-text">Male</h5>
                            <p class="card-text">4 years</p>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Pancho">
                                See Details
                            </button>
                        </div>
                    </div>
                </div>



                <!--Lucie-->
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <img class="card-img-top" id="responsiveImage" src="https://i.postimg.cc/Bbvhzvhs/1.jpg" alt="Second dog">
                        <div class="card-body">
                            <h4 class="card-title">Lucie</h4>
                            <h5 class="card-text">Female</h5>
                            <p class="card-text">1 year</p>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Lucie">
                                See Details
                            </button>
                        </div>
                    </div>
                </div>



                <!--Cabana-->
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <img class="card-img-top" id="responsiveImage" src="https://i.postimg.cc/pTsCKHPS/1.jpg" alt="First dog">
                        <div class="card-body">
                            <h4 class="card-title">Cabana</h4>
                            <h5 class="card-text">Female</h5>
                            <p class="card-text">3 years 3 months</p>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Cabana">
                                See Details
                            </button>
                        </div>
                    </div>
                </div>


                <!--Chico-->
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <img class="card-img-top" id="responsiveImage" src="https://i.postimg.cc/3x2ZnpKm/1.jpg" alt="Third dog">
                        <div class="card-body">
                            <h4 class="card-title">Chico</h4>
                            <h5 class="card-text">Male</h5>
                            <p class="card-text">10 years</p>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Chico">
                                See Details
                            </button>
                        </div>
                    </div>
                </div>


                <!--Bolt-->
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <img class="card-img-top" id="responsiveImage" src="https://i.postimg.cc/ZnyN0tnp/3.png" alt="Fifth dog">
                        <div class="card-body">
                            <h4 class="card-title">Bolt</h4>
                            <h5 class="card-text">Male</h5>
                            <p class="card-text">9 years 4 months</p>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Bolt">
                                See Details
                            </button>
                        </div>
                    </div>
                </div>


                <!--Toast-->
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <img class="card-img-top" id="responsiveImage" src="https://i.postimg.cc/02RnmcvP/0.png" alt="Sixth dog">
                        <div class="card-body">
                            <h4 class="card-title">Toast</h4>
                            <h5 class="card-text">Male</h5>
                            <p class="card-text">2 years</p>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Toast">
                                See Details
                            </button>
                        </div>
                    </div>
                </div>


                <!--Koba-->
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <img class="card-img-top" id="responsiveImage" src="https://i.postimg.cc/Gp5Jpjz0/1.jpg" alt="Seventh dog">
                        <div class="card-body">
                            <h4 class="card-title">Koba</h4>
                            <h5 class="card-text">Male</h5>
                            <p class="card-text">5 years 2 months</p>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Koba">
                                See Details
                            </button>
                        </div>
                    </div>
                </div>


            </div>
            <hr class="my-4">
        </div>





            <!--MODALS-->
            <!--Pancho-->
                        <div class="modal fade" id="Pancho" tabindex="-1" aria-labelledby="PanchoLabel" aria-hidden="true">
                            <div class="modal-dialog modal-fullscreen-md-down">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title" id="PanchoLabel">Pancho</h5>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">


                                        <!--<section class="sproduct">-->
                                            <div class="row"><!--mt-5-->

                                                <!-- Left column -->
                                                <div class="col-sm-6"><!--class="col-lg-12 col-md-12 col-12"-->

                                                    <!--Beggining carousel-->
                                                    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                                                        <div class="carousel-indicators">
                                                          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                                          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                                          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                                        </div>

                                                        <div class="carousel-inner">

                                                          <div class="carousel-item active">
                                                            <img src="https://i.postimg.cc/SKWt2320/0.png" class="w-100" alt="First slide">
                                                          </div>

                                                          <div class="carousel-item">
                                                            <img src="https://i.postimg.cc/MTq3y5Vn/2.png" class="w-100" alt="Second slide">
                                                          </div>

                                                          <div class="carousel-item">
                                                            <img src="https://i.postimg.cc/B6Fqkk7h/5-b.png" class="w-100" alt="Third slide">
                                                          </div>

                                                        </div>

                                                        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                          <span class="visually-hidden">Previous</span>
                                                        </button>
                                                        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                          <span class="visually-hidden">Next</span>
                                                        </button>
                                                      </div>
                                                      <!--End carousel-->


                                                </div><!--End Left column-->



                                                <!--Right column-->
                                                <div class="col-sm-6" style="text-align:left;"> <!--class="col-lg-6 col-md-12 col-12"-->
                                                    <h3>Pancho</h3>
                                                    <!--<h5 class="pb-2">Price</h5>-->
                                                    <h5>Details</h5>
                                                    <ul class="pb-2">
                                                        <li><strong>Race: </strong>French Poodle</li>
                                                        <li><strong>Sex: </strong>Male</li>
                                                        <li><strong>Color: </strong>White</li>
                                                        <li><strong>Age: </strong>4 Years</li>
                                                        <li><strong>Weight: </strong>24 pounds</li>
                                                        <li><strong>Location: </strong>Bears Den</li>
                                                    </ul>


                                                </div><!--End Right column-->


                                            </div> <!--End row-->



                                            <div class="row" style="text-align:left;">
                                                <!--Info list-->
                                                <p>Hi, my name is Pancho!</p>
                                                <p>
                                                    He is a 4 year old, Male, French Poodle. Pancho is neutered, microchipped and up to date on my vaccinations and preventions.
                                                </p>
                                                <p>
                                                    Pancho's best described as the loyalest and smartest dog you ever did see! He is a calmed dog, he doesn't play too much, but he is a great companion. He is so clean, he will never get dirty your house, so you will need to go out for a walk 2-3 times per day.
                                                </p>
                                                <p>
                                                    He is super cute! Pancho loves eating bread. Please don't leave him alone because he suffers when you're not with him. Finally he likes to eat almost everything (only if it's fresh, of course 😅)
                                                </p>
                                                <p>
                                                    If you're interested in adopting Pancho, please fill out the form.
                                                </p>
                                            </div>
                                        <!--</section>-->


                                    </div><!--End Modal Body-->

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                        <a href="/adoptForm"><button type="button" class="btn btn-primary">Adopt me</button></a> <!--Adopt-->
                                    </div>

                                </div>
                            </div>
                        </div>





            <!--Lucie-->
            <div class="modal fade" id="Lucie" tabindex="-1" aria-labelledby="LucieLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen-md-down">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title" id="LucieLabel">Lucie</h5>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>


                        <div class="modal-body">


                            <!--<section class="sproduct">-->
                                <div class="row"><!--mt-5-->

                                    <!-- Left column -->
                                    <div class="col-sm-6"><!--class="col-lg-12 col-md-12 col-12"-->

                                        <!--Beggining carousel-->
                                        <div id="myCarousel1" class="carousel slide" data-bs-ride="carousel">
                                            <div class="carousel-indicators">
                                              <button type="button" data-bs-target="#myCarousel1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                              <button type="button" data-bs-target="#myCarousel1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                              <button type="button" data-bs-target="#myCarousel1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                            </div>

                                            <div class="carousel-inner">

                                              <div class="carousel-item active">
                                                <img src="https://i.postimg.cc/Bbvhzvhs/1.jpg" class="w-100" alt="First slide">
                                              </div>

                                              <div class="carousel-item">
                                                <img src="https://i.postimg.cc/mZdpHQDr/4.png" class="w-100" alt="Second slide">
                                              </div>

                                              <div class="carousel-item">
                                                <img src="https://i.postimg.cc/RhbPxz8t/5.png" class="w-100" alt="Third slide">
                                              </div>

                                            </div>

                                            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel1" data-bs-slide="prev">
                                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                              <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel1" data-bs-slide="next">
                                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                              <span class="visually-hidden">Next</span>
                                            </button>
                                          </div>
                                          <!--End carousel-->


                                    </div><!--End Left column-->



                                    <!--Right column-->
                                    <div class="col-sm-6" style="text-align:left;"> <!--class="col-lg-6 col-md-12 col-12"-->
                                        <h3>Lucie</h3>

                                        <h5>Details</h5>
                                        <ul class="pb-2">
                                            <li><strong>Race: </strong>Australian Cattle Dog</li>
                                            <li><strong>Sex: </strong>Female</li>
                                            <li><strong>Color: </strong>Brown and White</li>
                                            <li><strong>Age: </strong>1 Year</li>
                                            <li><strong>Weight: </strong>24 pounds</li>
                                            <li><strong>Location: </strong>Bears Den</li>

                                        </ul>


                                    </div><!--End Right column-->


                                </div> <!--End row-->



                                <div class="row" style="text-align:left;">
                                    <!--Info list-->
                                    <p>Hi, my name is Lucie!</p>
                                    <p>
                                        I came to "ANIMAL RESCUE" on 7/4/2022. I am a 1y old, Female, Australian Cattle Dog mix. I am
                                        spayed, microchipped and up to date on my vaccinations and preventions. If you're interested in adopting me, please fill out the form.
                                    </p>
                                </div>
                            <!--</section>-->


                        </div><!--End Modal Body-->

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            <a href="/adoptForm"><button type="button" class="btn btn-primary">Adopt me</button></a> <!--Adopt-->
                        </div>

                    </div>
                </div>
            </div>




            <!--Cabana-->
                        <div class="modal fade" id="Cabana" tabindex="-1" aria-labelledby="CabanaLabel" aria-hidden="true">
                            <div class="modal-dialog modal-fullscreen-md-down">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title" id="CabanaLabel">Cabana</h5>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>


                                    <div class="modal-body">


                                        <!--<section class="sproduct">-->
                                            <div class="row"><!--mt-5-->

                                                <!-- Left column -->
                                                <div class="col-sm-6"><!--class="col-lg-12 col-md-12 col-12"-->

                                                    <!--Beggining carousel-->
                                                    <div id="myCarousel2" class="carousel slide" data-bs-ride="carousel">
                                                        <div class="carousel-indicators">
                                                          <button type="button" data-bs-target="#myCarousel2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                                          <button type="button" data-bs-target="#myCarousel2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                                        </div>

                                                        <div class="carousel-inner">

                                                          <div class="carousel-item active">
                                                            <img src="https://i.postimg.cc/pTsCKHPS/1.jpg" class="w-100" alt="First slide">
                                                          </div>

                                                          <div class="carousel-item">
                                                            <img src="https://i.postimg.cc/CM6J1SPB/3.png" class="w-100" alt="Second slide">
                                                          </div>

                                                        </div>

                                                        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel2" data-bs-slide="prev">
                                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                          <span class="visually-hidden">Previous</span>
                                                        </button>
                                                        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel2" data-bs-slide="next">
                                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                          <span class="visually-hidden">Next</span>
                                                        </button>
                                                      </div>
                                                      <!--End carousel-->


                                                </div><!--End Left column-->



                                                <!--Right column-->
                                                <div class="col-sm-6" style="text-align:left;"> <!--class="col-lg-6 col-md-12 col-12"-->
                                                    <h3>Cabana</h3>

                                                    <h5>Details</h5>
                                                    <ul class="pb-2">
                                                        <li><strong>Race: </strong>Terrier</li>
                                                        <li><strong>Sex: </strong>Female</li>
                                                        <li><strong>Color: </strong>Black, Brown and White</li>
                                                        <li><strong>Age: </strong>3 Years 3 Months</li>
                                                        <li><strong>Weight: </strong>18 pounds</li>
                                                        <li><strong>Location: </strong>Bears Den</li>
                                                    </ul>


                                                </div><!--End Right column-->


                                            </div> <!--End row-->



                                            <div class="row" style="text-align:left;">
                                                <!--Info list-->
                                                <p>
                                                    Hi, my name is Cabana!
                                                </p>
                                                <p>
                                                    I came to "ANIMAL RESCUE" on 4/2/2022. I am a 3y old, Female, Terrier mix. I am spayed,
                                                    microchipped and up to date on my vaccinations and preventions. If you're interested in adopting me, please fill out the form.
                                                </p>
                                                <p>Here are a few things about me!</p>
                                                <ul>
                                                    <li>I love snacks and treats</li>
                                                    <li>I know how to walk politely on a leash</li>
                                                    <li>I love a belly rub and lots of attention</li>
                                                    <li>I previously lived with children</li>
                                                </ul>
                                            </div>
                                        <!--</section>-->


                                    </div><!--End Modal Body-->

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                        <a href="/adoptForm"><button type="button" class="btn btn-primary">Adopt me</button></a> <!--Adopt-->
                                    </div>

                                </div>
                            </div>
                        </div>




            <!--Chico-->
                        <div class="modal fade" id="Chico" tabindex="-1" aria-labelledby="ChicoLabel" aria-hidden="true">
                            <div class="modal-dialog modal-fullscreen-md-down">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title" id="ChicoLabel">Chico</h5>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>


                                    <div class="modal-body">


                                        <!--<section class="sproduct">-->
                                            <div class="row"><!--mt-5-->

                                                <!-- Left column -->
                                                <div class="col-sm-6"><!--class="col-lg-12 col-md-12 col-12"-->

                                                    <img src="https://i.postimg.cc/3x2ZnpKm/1.jpg" class="w-100" alt="First slide">

                                                </div><!--End Left column-->


                                                <!--Right column-->
                                                <div class="col-sm-6" style="text-align:left;"> <!--class="col-lg-6 col-md-12 col-12"-->

                                                    <h3>Chico</h3>

                                                    <h5>Details</h5>
                                                    <ul class="pb-2">
                                                        <li><strong>Race: </strong>Portuguese Podengo</li>
                                                        <li><strong>Sex: </strong>Male</li>
                                                        <li><strong>Color: </strong>Black and White</li>
                                                        <li><strong>Age: </strong>10 Years</li>
                                                        <li><strong>Weight: </strong>11 pounds</li>
                                                        <li><strong>Location: </strong>Bears Den</li>
                                                    </ul>

                                                </div><!--End Right column-->

                                            </div> <!--End row-->


                                            <div class="row" style="text-align:left;">
                                                <!--Info list-->
                                                <p>Hi, my name is Chico!</p>
                                                <p>
                                                    Meet Chico, a great companion who came to "ANIMAL RESCUE" from another shelter. Chico is hoping to find a loving home with the right family. If you're interested in adopting Chico, please fill out the form.
                                                </p>
                                            </div>
                                        <!--</section>-->

                                    </div><!--End Modal Body-->


                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                        <a href="/adoptForm"><button type="button" class="btn btn-primary">Adopt me</button></a> <!--Adopt-->
                                    </div>

                                </div>
                            </div>
                        </div>




            <!--Bolt-->
                        <div class="modal fade" id="Bolt" tabindex="-1" aria-labelledby="BoltLabel" aria-hidden="true">
                            <div class="modal-dialog modal-fullscreen-md-down">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title" id="BoltLabel">Bolt</h5>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">


                                        <!--<section class="sproduct">-->
                                            <div class="row"><!--mt-5-->

                                                <!-- Left column -->
                                                <div class="col-sm-6"><!--class="col-lg-12 col-md-12 col-12"-->

                                                    <!--Beggining carousel-->
                                                    <div id="myCarousel3" class="carousel slide" data-bs-ride="carousel">
                                                        <div class="carousel-indicators">
                                                          <button type="button" data-bs-target="#myCarousel3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                                          <button type="button" data-bs-target="#myCarousel3" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                                          <button type="button" data-bs-target="#myCarousel3" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                                        </div>

                                                        <div class="carousel-inner">

                                                          <div class="carousel-item active">
                                                            <img src="https://i.postimg.cc/RFYfMVSv/1.png" class="w-100" alt="First slide">
                                                          </div>

                                                          <div class="carousel-item">
                                                            <img src="https://i.postimg.cc/V6vnQbc7/2.png" class="w-100" alt="Second slide">
                                                          </div>

                                                          <div class="carousel-item">
                                                            <img src="https://i.postimg.cc/ZnyN0tnp/3.png" class="w-100" alt="Third slide">
                                                          </div>

                                                        </div>

                                                        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel3" data-bs-slide="prev">
                                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                          <span class="visually-hidden">Previous</span>
                                                        </button>
                                                        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel3" data-bs-slide="next">
                                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                          <span class="visually-hidden">Next</span>
                                                        </button>
                                                      </div>
                                                      <!--End carousel-->

                                                </div><!--End Left column-->



                                                <!--Right column-->
                                                <div class="col-sm-6" style="text-align:left;"> <!--class="col-lg-6 col-md-12 col-12"-->
                                                    <h3>Bolt</h3>

                                                    <h5>Details</h5>
                                                    <ul class="pb-2">
                                                        <li><strong>Race: </strong>Australian Cattle Dog</li>
                                                        <li><strong>Sex: </strong>Male</li>
                                                        <li><strong>Color: </strong>Black, Brown and White</li>
                                                        <li><strong>Age: </strong>9 Years 4 Months</li>
                                                        <li><strong>Weight: </strong>35 pounds</li>
                                                        <li><strong>Location: </strong>Bears Den</li>
                                                    </ul>


                                                </div><!--End Right column-->


                                            </div> <!--End row-->



                                            <div class="row" style="text-align:left;">
                                                <!--Info list-->
                                                <p>
                                                    Hi, my name is Bolt!
                                                </p>
                                                <p>
                                                    Bolt came to "ANIMAL RESCUE" on 3/24/2022. He is a 9y1m old, Male, Australian Shepherd mix. Bolt is neutered, microchipped and up to date on my vaccinations and preventions.
                                                </p>
                                                <p>
                                                    Here's what a team member had to say about Bolt after spending the day with him, "Bolt is just the most loveable, petite little prince! He's very gentle and quiet, but he also loves playing with his toys and meeting new people. In fact, I would say his main goal was to meet anyone he saw, calmly approaching with his tail wagging to see if they would give him a cuddle. He's always, ALWAYS in for some snuggles and attention. I can just tell he is going to be an awesome, loyal companion in his new home!"
                                                </p>
                                                <p>
                                                    Bolt has excellent leash manners and is easy peasy to take for a walk or even take on the elevator! He is a dignified gentleman, and very well behaved when walking around other dogs. Bolt also has good manners inside, and seems to be potty-trained!
                                                </p>
                                                <p>If you're interested in adopting Bolt, please fill out the form.</p>
                                            </div>
                                        <!--</section>-->


                                    </div><!--End Modal Body-->

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                        <a href="/adoptForm"><button type="button" class="btn btn-primary">Adopt me</button></a> <!--Adopt-->
                                    </div>

                                </div>
                            </div>
                        </div>




            <!--Toast-->
                        <div class="modal fade" id="Toast" tabindex="-1" aria-labelledby="ToastLabel" aria-hidden="true">
                            <div class="modal-dialog modal-fullscreen-md-down">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title" id="ToastLabel">Toast</h5>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>


                                    <div class="modal-body">


                                        <!--<section class="sproduct">-->
                                            <div class="row"><!--mt-5-->

                                                <!-- Left column -->
                                                <div class="col-sm-6"><!--class="col-lg-12 col-md-12 col-12"-->

                                                    <img src="https://i.postimg.cc/02RnmcvP/0.png" class="w-100" alt="First slide">

                                                </div><!--End Left column-->


                                                <!--Right column-->
                                                <div class="col-sm-6" style="text-align:left;"> <!--class="col-lg-6 col-md-12 col-12"-->

                                                    <h3>Toast</h3>

                                                    <h5>Details</h5>
                                                    <ul class="pb-2">
                                                        <li><strong>Race: </strong>Mixed Breed, Large</li>
                                                        <li><strong>Sex: </strong>Male</li>
                                                        <li><strong>Color: </strong>Brown</li>
                                                        <li><strong>Age: </strong>2 Years</li>
                                                        <li><strong>Weight: </strong>38 pounds</li>
                                                        <li><strong>Location: </strong>Bears Den</li>
                                                    </ul>

                                                </div><!--End Right column-->

                                            </div> <!--End row-->


                                            <div class="row" style="text-align:left;">
                                                <!--Info list-->
                                                <p>Hi, my name is Toast!</p>
                                                <p>
                                                    I came to "ANIMAL RESCUE" on 6/23/2022. I am a 2y old, Male, Mixed Breed, Large (over 44 lbs
                                                    fully grown) mix. I am neutered, microchipped and up to date on my vaccinations and preventions.
                                                    If you're interested in adopting me, please fill out the form.
                                                </p>
                                            </div>
                                        <!--</section>-->

                                    </div><!--End Modal Body-->


                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                        <a href="/adoptForm"><button type="button" class="btn btn-primary">Adopt me</button></a> <!--Adopt-->
                                    </div>

                                </div>
                            </div>
                        </div>





            <!--Koba-->
                        <div class="modal fade" id="Koba" tabindex="-1" aria-labelledby="KobaLabel" aria-hidden="true">
                            <div class="modal-dialog modal-fullscreen-md-down">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title" id="KobaLabel">Koba</h5>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>


                                    <div class="modal-body">


                                        <!--<section class="sproduct">-->
                                            <div class="row"><!--mt-5-->

                                                <!-- Left column -->
                                                <div class="col-sm-6"><!--class="col-lg-12 col-md-12 col-12"-->

                                                    <!--Beggining carousel-->
                                                    <div id="myCarousel4" class="carousel slide" data-bs-ride="carousel">
                                                        <div class="carousel-indicators">
                                                          <button type="button" data-bs-target="#myCarousel4" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                                          <button type="button" data-bs-target="#myCarousel4" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                                          <button type="button" data-bs-target="#myCarousel4" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                                        </div>

                                                        <div class="carousel-inner">

                                                          <div class="carousel-item active">
                                                            <img src="https://i.postimg.cc/Gp5Jpjz0/1.jpg" class="w-100" alt="First slide">
                                                          </div>

                                                          <div class="carousel-item">
                                                            <img src="https://i.postimg.cc/nr844c60/4.png" class="w-100" alt="Second slide">
                                                          </div>

                                                          <div class="carousel-item">
                                                            <img src="https://i.postimg.cc/76J1JTQ5/3.jpg" class="w-100" alt="Third slide">
                                                          </div>

                                                        </div>

                                                        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel4" data-bs-slide="prev">
                                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                          <span class="visually-hidden">Previous</span>
                                                        </button>
                                                        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel4" data-bs-slide="next">
                                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                          <span class="visually-hidden">Next</span>
                                                        </button>
                                                      </div>
                                                      <!--End carousel-->


                                                </div><!--End Left column-->



                                                <!--Right column-->
                                                <div class="col-sm-6" style="text-align:left;"> <!--class="col-lg-6 col-md-12 col-12"-->
                                                    <h3>Koba</h3>

                                                    <h5>Details</h5>
                                                    <ul class="pb-2">
                                                        <li><strong>Race: </strong>Terrier, Pit Bull</li>
                                                        <li><strong>Sex: </strong>Male</li>
                                                        <li><strong>Color: </strong>Black and White</li>
                                                        <li><strong>Age: </strong>5 Years 2 Months</li>
                                                        <li><strong>Weight: </strong>63 pounds</li>
                                                        <li><strong>Location: </strong>Bears Den</li>
                                                    </ul>


                                                </div><!--End Right column-->


                                            </div> <!--End row-->



                                            <div class="row" style="text-align:left;">
                                                <!--Info list-->
                                                <p>Hi, my name is Koba!</p>
                                                <p>
                                                    Koba came to "ANIMAL RESCUE" on 5/5/2022. He is a 5 year old, Male, Pitbull Terrier mix. Koba is neutered, microchipped and up to date on my vaccinations and preventions.
                                                </p>
                                                <p>
                                                    Koba's best described as just one cool guy! He greets everyone he meets with a lot of confidence and his machoman appearance, but he does show off his sillier side with excited tippy-taps as you leash him up to go for a walk. He has good leash manners, and is a pleasure to take a stroll with through the neighborhood. Koba has an observant nature, and is always on patrol for the comings and goings through the yards.
                                                </p>
                                                <p>
                                                    Here's what a team member had to say about Koba after spending the day with him, "HES SO GREAT! He was excited to meet me in the kennel, wiggly while leashing but he calms quickly and will sit politely to be leashed. He met lots of people today, and would give them a sniff and move on as we were walking the halls. Koba came to a meeting with me, and loved getting pets from all different people. He quickly relaxed in the office, and will ask for butt scratches. He LOVES butt scratches! He will give you a kiss and turn around to tell you exactly where he wants his pets! Koba seems to be potty trained, and had no accidents in the office. He is very good at "sit" and "down". He has good manners, and will sit and wait at the door until I give a cue to enter through doorway. Koba did not get into anything naughty when I was gone, and I don't think I heard one single bark from him all day. Overall - he is so sweet!"
                                                </p>
                                                <p>
                                                    Koba is sociable with other dogs, but is a bit past his rough and tumble play days. He prefers a stroll with his friends over a ruckus dog park. He is a well mannered pup who is used to being a family's beloved companion, and has lived with children previously. If you're interested in adopting Koba, please fill out the form.
                                                </p>
                                            </div>
                                        <!--</section>-->


                                    </div><!--End Modal Body-->

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                        <a href="/adoptForm"><button type="button" class="btn btn-primary">Adopt me</button></a> <!--Adopt-->
                                    </div>

                                </div>
                            </div>
                        </div>



{% endblock %}

