{% extends "layout.html" %}

{% block title %}
    Educate Form
{% endblock %}

{% block main %}


        <div class="container-fluid padding">
            <div class="row welcome text-center">
                <div id="properties" class="col-12">
                    <h1 class="display-4">Educate about caring the animals</h1>
                </div>
                <hr>
                <div class="col-12">
                        <img src="https://cdn3.mycity4kids.com/images/article-images/web/headersV2/img-20191118-5dd27d33096e7.jpg" alt="Teach kids" class="rabbitImage" id="educate" >
                </div>
            </div>
        </div>


        <!--- Two Column Section -->
        <div class="container-fluid padding" style="padding-bottom: 0rem;">
            <!--<div class="row padding">-->
                <div class="col-md-12 col-lg-12" id="rowText" style="text-align:left;">
                    <h2>HELP US</h2>
                    <p>Make a difference by teaching kinds to take care of animals. Here, we give some links with awesome material that will help you during the process:</p>

                    <ul>
                        <li><a href="https://buggybuddys.com.au/5-ways-to-teach-children-how-to-love-and-care-for-animals/">5 Ways To Teach Children How To Love And Care For Animals</a></li>
                        <!--<li>Donate</li>-->
                        <li><a href="https://www.freespirit.com/files/original/complete-guide-service-learning-protecting-animals-1.pdf">PDF Complete Guide</a></li>
                        <li><a href="https://www.acecqa.gov.au/sites/default/files/2019-07/QA3_InfoSheetKeepingPetsAndAnimalsInEducationAndCareServices.pdf">KEEPING PETS AND ANIMALS IN EDUCATION AND CARE SERVICES</a></li>
                    </ul>


                </div>

            <!--</div>-->
            <div class="row welcome text-center" style="padding-top: 0rem;">
                <div class="col-md-14">
                    <div class="alert alert-dark" role="alert">
                        <h5 class="alert-heading">Note</h5>
                        <p>Thank you very much for your interest. We will send you through email Zoom meetings, PDFs, and more material about teaching kids to care animals.</p>
                    </div>
                </div>
            </div>

        </div>





        <!--Pagination-->
        <!--<ul class="pagination justify-content-center" id="pagination">
            <li class="page-item">
            <a class="page-link" href="/educateForm">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="/educateForm">1</a></li>
            <li class="page-item active"><a class="page-link" href="/educateForm2">2</a></li>
            <li class="page-item disabled">
            <a class="page-link">Next</a>
            </li>
        </ul>-->



{% endblock %}