{% extends "layout.html" %}

{% block title %}
    Results Form
{% endblock %}

{% block main %}


        <div class="container-fluid padding">
            <div class="row welcome text-center">
                <div id="results" class="col-12">
                    <h2>Your form has been submitted</h2>
                </div>
                <hr>
                <img src="https://i.postimg.cc/LsVmVYds/sent.gif" alt="Sent it" class="sentGif" title=""/>
            </div>
        </div>

{% endblock %}